<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
  <div id="home-title-container">
    <h1 id="home-title">Fodial Home Page</h1>
  </div>

  <%- include('_post'); %>

    <%- include('_chat_box') -%>

      <% if(locals.user) { %>
        <section id="user-friends">
          <h4>Friends</h4>
          <% for(u of all_users) { %>
            <% if(u.id !=user.id) { %>
              <p>
                <a href="/users/profile/<%= u.id %> ">
                  <%= u.name %>
                </a>
              </p>
              <% } %>
                <% } %>
        </section>
        <% } %>
</div>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<script src="js/toggle_likes.js"></script>
<script>
  $('.toggle-like-button').each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
  <script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>');
  </script>
  <% } %>